@import "../../../sass-rem/_rem.scss";
$elevation-container-high-hover-selected: var(--elevation-container-high-hover-selected);
$elevation-container-high-selected: var(--elevation-container-high-selected);
$elevation-container-high-hover: var(--elevation-container-high-hover);
$elevation-container-high-default: var(--elevation-container-high-default);
$elevation-container-medium-hover-selected: var(--elevation-container-medium-hover-selected);
$elevation-container-medium-selected: var(--elevation-container-medium-selected);
$elevation-container-medium-hover: var(--elevation-container-medium-hover);
$elevation-container-medium-default: var(--elevation-container-medium-default);
$elevation-container-low-hover-selected: var(--elevation-container-low-hover-selected);
$elevation-container-low-selected: var(--elevation-container-low-selected);
$elevation-container-low-hover: var(--elevation-container-low-hover);
$elevation-container-low-default: var(--elevation-container-low-default);
$elevation-container-flat-hover-selected: var(--elevation-container-flat-hover-selected);
$elevation-container-flat-selected: var(--elevation-container-flat-selected);
$elevation-container-flat-hover: var(--elevation-container-flat-hover);
$elevation-container-flat-default: var(--elevation-container-flat-default);
$elevation-shadow-high: var(--elevation-shadow-high);
$elevation-shadow-medium: var(--elevation-shadow-medium);
$elevation-shadow-low: var(--elevation-shadow-low);
$elevation-shadow-flat: var(--elevation-shadow-flat);
$clip-4:  rect(0px, rem-convert(16px), rem-convert(16px), rem-convert(8px));
$clip-3:  rect(0px, rem-convert(8px), rem-convert(16px), 0px);
$clip-2:  rect(0px, rem-convert(24px), rem-convert(24px), rem-convert(12px));
$clip-1:  rect(0px, rem-convert(12px), rem-convert(24px), 0px);
$degree-2: 135deg;
$degree-1: -180deg;
$blur-2: var(--blur-2);
$blur-1: var(--blur-1);
$transition-2: 2s;
$transition-1: .5s;
$transition-0: .3s;
$z-index-99: 99;
$z-index-1: 1;
$z-index-0: -1;
$letter-spacing-1: rem-convert(-0.4px);
$font-weight-6: 600;
$font-weight-3: var(--font-weight-3);
$font-weight-2: var(--font-weight-2);
$font-weight-1: var(--font-weight-1);
$height-113: rem-convert(56px);
$height-112: rem-convert(112px);
$height-88: rem-convert(88px);
$height-28: rem-convert(28px);
$height-21: rem-convert(21px);
$height-20: rem-convert(12px);
$height-18: rem-convert(18px);
$height-17: rem-convert(4px);
$height-16: rem-convert(72px);
$height-15: rem-convert(60px);
$height-14: rem-convert(6px);
$height-13: rem-convert(22.88px);
$height-12: rem-convert(220px);
$height-11: rem-convert(64px);
$height-10: rem-convert(32px);
$height-9: rem-convert(62px);
$height-8: rem-convert(34px);
$height-7: rem-convert(48px);
$height-6: rem-convert(42px);
$height-5: rem-convert(40px);
$height-4: rem-convert(36px);
$height-3: rem-convert(24px);
$height-2: rem-convert(20px);
$height-1: rem-convert(16px);
$height-0: rem-convert(8px);
$width-datepicker-2: rem-convert(320px);
$width-datepicker-1: rem-convert(304px);
$width-600: rem-convert(600px);
$width-542: rem-convert(542px);
$width-516: rem-convert(516px);
$width-280: rem-convert(280px);
$width-256: rem-convert(256px);
$width-28: rem-convert(28px);
$width-21: rem-convert(32px);
$width-20: rem-convert(12px);
$width-19: rem-convert(18px);
$width-18: rem-convert(48px);
$width-17: rem-convert(6px);
$width-16: rem-convert(13px);
$width-15: rem-convert(320px);
$width-14: rem-convert(104px);
$width-13: rem-convert(102px);
$width-12: rem-convert(100px);
$width-11: rem-convert(98px);
$width-10: rem-convert(77px);
$width-9: rem-convert(75px);
$width-8: rem-convert(73px);
$width-7: rem-convert(44px);
$width-6: rem-convert(40px);
$width-5: rem-convert(42px);
$width-4: rem-convert(36px);
$width-3: rem-convert(24px);
$width-2: rem-convert(20px);
$width-1: rem-convert(16px);
$width-0: rem-convert(8px);
$border-3: rem-convert(6px);
$border-2: rem-convert(4px);
$border-1: rem-convert(1px);
$opacity-7: var(--opacity-7);
$opacity-6: var(--opacity-6);
$opacity-5: var(--opacity-5);
$opacity-4: var(--opacity-4);
$opacity-3: var(--opacity-3);
$opacity-2: var(--opacity-2);
$opacity-1: var(--opacity-1);
$box-shadow-3: var(--box-shadow-3);
$box-shadow-2: var(--box-shadow-2);
$box-shadow-1: var(--box-shadow-1);
$level-3: var(--level-3);
$level-2: var(--level-2);
$level-1: var(--level-1);
$shadow-dropdown-2: 0 0 rem-convert(1px) 0 rgba(0, 0, 0, .04);
$shadow-dropdown-1: 0 rem-convert(8px) rem-convert(16px) rem-convert(-4px) rgba(0, 0, 0, .24);
$border-type-1: solid;
$border-radius-7: 50%;
$border-radius-6: rem-convert(20px);
$border-radius-5: rem-convert(16px);
$border-radius-4: rem-convert(12px);
$border-radius-3: var(--border-radius-3);
$border-radius-2: var(--border-radius-2);
$border-radius-1: var(--border-radius-1);
$typography-letter-spacing-1: rem-convert(-0.4px);
$typography-line-height-size-data: rem-convert(48px);
$typography-line-height-size-large-heading: rem-convert(42px);
$typography-line-height-size-heading: rem-convert(32px);
$typography-line-height-size-subheading: rem-convert(24px);
$typography-line-height-size-body: rem-convert(24px);
$typography-line-height-size-body-s: rem-convert(20px);
$typography-line-height-size-body-xs: rem-convert(14px);
$typography-line-height-40: rem-convert(40px);
$typography-line-height-16: rem-convert(16px);
$typography-line-height-7: rem-convert(48px);
$typography-line-height-6: rem-convert(36px);
$typography-line-height-5: rem-convert(32px);
$typography-line-height-4: rem-convert(24px);
$typography-line-height-3: rem-convert(24px);
$typography-line-height-2: rem-convert(20px);
$typography-line-height-1: rem-convert(14px);
$typography-text-size-data: rem-convert(48px);
$typography-text-size-large-heading: rem-convert(32px);
$typography-text-size-heading: rem-convert(24px);
$typography-text-size-subheading: rem-convert(20px);
$typography-text-size-body: rem-convert(16px);
$typography-text-size-body-s: rem-convert(14px);
$typography-text-size-body-xs: rem-convert(12px);
$typography-text-size-7: rem-convert(48px);
$typography-text-size-6: rem-convert(32px);
$typography-text-size-5: rem-convert(24px);
$typography-text-size-4: rem-convert(20px);
$typography-text-size-3: rem-convert(16px);
$typography-text-size-2: rem-convert(14px);
$typography-text-size-1: rem-convert(12px);
$typography-large-heading: var(--typography-large-heading);
$typography-heading: var(--typography-heading);
$typography-subheading: var(--typography-subheading);
$typography-data: var(--typography-data);
$typography-heading-l: var(--typography-heading-l);
$typography-heading-m: var(--typography-heading-m);
$typography-heading-s: var(--typography-heading-s);
$typography-body: var(--typography-body);
$typography-body-s: var(--typography-body-s);
$typography-body-xs: var(--typography-body-xs);
$typography-6: var(--typography-6);
$typography-5: var(--typography-5);
$typography-4: var(--typography-4);
$typography-3: var(--typography-3);
$typography-2: var(--typography-2);
$typography-1: var(--typography-1);
$spacing-36: rem-convert(36px);
$spacing-32: rem-convert(32px);
$spacing-18: rem-convert(18px);
$spacing-10: rem-convert(10px);
$spacing-9: rem-convert(9px);
$spacing-8: var(--spacing-8);
$spacing-7: var(--spacing-7);
$spacing-6: var(--spacing-6);
$spacing-5: var(--spacing-5);
$spacing-4: var(--spacing-4);
$spacing-3: var(--spacing-3);
$spacing-2: var(--spacing-2);
$spacing-1: var(--spacing-1);
$states-success-09: #1F3B29;
$states-success-08: #20522A;
$states-success-07: #206A2C;
$states-success-06: #21812D;
$states-success-05: #22992E;
$states-success-04: #4EAD58;
$states-success-03: #7AC282;
$states-success-02: #A7D6AB;
$states-success-01: #D3EBD5;
$states-warning-09: #4B4226;
$states-warning-08: #786124;
$states-warning-07: #A58123;
$states-warning-06: #D2A021;
$states-warning-05: #FFBF1F;
$states-warning-04: #FFCC4C;
$states-warning-03: #FFD979;
$states-warning-02: #FFE5A5;
$states-warning-01: #FFF2D2;
$states-error-09: #3F2425;
$states-error-08: #612622;
$states-error-07: #822720;
$states-error-06: #A4291D;
$states-error-05: #C52A1A;
$states-error-04: #D15548;
$states-error-03: #DC7F76;
$states-error-02: #E8AAA3;
$states-error-01: #F3D4D1;
$neutral-09: #A3A3A3;
$neutral-08: #AFAFAF;
$neutral-07: #BABABA;
$neutral-06: #C5C5C5;
$neutral-05: #D1D1D1;
$neutral-04: #DDDDDD;
$neutral-03: #E8E8E8;
$neutral-02: #F3F3F3;
$neutral-01: #FFFFFF;
$neutral-23: #000000;
$neutral-22: #111111;
$neutral-21: #191919;
$neutral-20: #252525;
$neutral-19: #303030;
$neutral-18: #3B3B3B;
$neutral-17: #474747;
$neutral-16: #535353;
$neutral-15: #5E5E5E;
$neutral-14: #696969;
$neutral-13: #757575;
$neutral-12: #818181;
$neutral-11: #8C8C8C;
$neutral-10: #979797;
$data-green-darker: #175C2C;
$data-green-dark: #2C8646;
$data-green: #4EB523;
$data-green-light: #86DB4F;
$data-green-lighter: #C4FC9F;
$data-blue-darker: #003DAB;
$data-blue-dark: #0060D7;
$data-blue: #0089EB;
$data-blue-light: #4DACF1;
$data-blue-lighter: #B3DCF9;
$data-purple-darker: #4B20AB;
$data-purple-dark: #6B2CDA;
$data-purple: #8E34F4;
$data-purple-light: #B056F6;
$data-purple-lighter: #DCB4FC;
$data-gray-darker: #141414;
$data-gray-dark: #2D2D2D;
$data-gray: #7D7D7D;
$data-gray-light: #DEDEDE;
$data-gray-lighter: #F2F2F2;
$data-rose-darker: #6E2A35;
$data-rose-dark: #A43E50;
$data-rose: #D93954;
$data-rose-light: #E27588;
$data-rose-lighter: #F1BAC3;
$data-red-darker: #741910;
$data-red-dark: #AA2417;
$data-red: #E0301E;
$data-red-light: #E86153;
$data-red-lighter: #F7C8C4;
$data-yellow-darker: #855F00;
$data-yellow-dark: #C28A00;
$data-yellow: #FFB600;
$data-yellow-light: #FFC83D;
$data-yellow-lighter: #FFECBD;
$data-tangerine-darker: #714300;
$data-tangerine-dark: #AE6800;
$data-tangerine: #EB8C00;
$data-tangerine-light: #FFA929;
$data-tangerine-lighter: #FFDCA9;
$data-orange-darker: #571F01;
$data-orange-dark: #933401;
$data-orange: #D04A02;
$data-orange-light: #FD6412;
$data-orange-lighter: #FEB791;
$secondary-red-20: #FAD5D6;
$secondary-red-40: #F5AAAD;
$secondary-red-60: #F18085;
$secondary-red-80: #EC555C;
$secondary-red: #E72B33;
$secondary-purple-20: #E0E5FF;
$secondary-purple-40: #C1CBFF;
$secondary-purple-60: #A3B1FF;
$secondary-purple-80: #8497FF;
$secondary-purple: #657DFF;
$secondary-rose-20: #F8DDE1;
$secondary-rose-40: #F1BAC3;
$secondary-rose-60: #E998A6;
$secondary-rose-80: #E27588;
$secondary-rose: #D93954;
$secondary-teal-20: #D8F7EF;
$secondary-teal-40: #C4F2E7;
$secondary-teal-60: #9EE9D7;
$secondary-teal-80: #77E1C7;
$secondary-teal: #3DD5B0;
$secondary-lightblue-20: #CCF4FD;
$secondary-lightblue-40: #B2EDFC;
$secondary-lightblue-60: #7FE2FB;
$secondary-lightblue-80: #4CD7F9;
$secondary-lightblue: #00C6F7;
$secondary-blue-20: #DAE4F4;
$secondary-blue-40: #C7D6EE;
$secondary-blue-60: #A2BBE4;
$secondary-blue-80: #7CA0D9;
$secondary-blue: #4577C9;
$primary-blue-09: #060B16;
$primary-blue-08: #0D152D;
$primary-blue-07: #132043;
$primary-blue-06: #1A2A5A;
$primary-blue-05: #203570;
$primary-blue-04: #415385;
$primary-blue-03: #62719A;
$primary-blue-02: #9AA4BE;
$primary-blue-01: #D2D7E2;
$primary-orange-09: #472B24;
$primary-orange-08: #773829;
$primary-orange-07: #A7452C;
$primary-orange-06: #C34C2F;
$primary-orange-05: #D04A02;
$primary-orange-04: #E45C2B;
$primary-orange-03: #FB7C4D;
$primary-orange-02: #FDAB8D;
$primary-orange-01: #FEDACC;
$primary-teal-09: #223937;
$primary-teal-08: #245952;
$primary-teal-07: #26776D;
$primary-teal-06: #27897E;
$primary-teal-05: #299D8F;
$primary-teal-04: #49ABA0;
$primary-teal-03: #69BAB0;
$primary-teal-02: #9ED3CC;
$primary-teal-01: #D4EBE9;
$primary-pink-09: #462B2F;
$primary-pink-08: #6B343D;
$primary-pink-07: #903F4D;
$primary-pink-06: #B5485B;
$primary-pink-05: #D93954;
$primary-pink-04: #E27588;
$primary-pink-03: #E998A6;
$primary-pink-02: #F1BAC3;
$primary-pink-01: #F8DDE1;
$primary-red-09: #472420;
$primary-red-08: #772820;
$primary-red-07: #A62B1E;
$primary-red-06: #C22D1D;
$primary-red-05: #E0301E;
$primary-red-04: #E44F3F;
$primary-red-03: #E96E61;
$primary-red-02: #F1A29A;
$primary-red-01: #F9D6D2;
$color-text-link-secondary-inverse-rgb: var(--color-text-link-secondary-inverse-rgb);
$color-text-link-primary-inverse-rgb: var(--color-text-link-primary-inverse-rgb);
$color-text-link-secondary-rgb: var(--color-text-link-secondary-rgb);
$color-text-link-primary-rgb: var(--color-text-link-primary-rgb);
$color-text-warning-rgb: var(--color-text-warning-rgb);
$color-text-success-rgb: var(--color-text-success-rgb);
$color-text-error-rgb: var(--color-text-error-rgb);
$color-text-disabled-rgb: var(--color-text-disabled-rgb);
$color-text-body-rgb: var(--color-text-body-rgb);
$color-text-heading-rgb: var(--color-text-heading-rgb);
$color-text-light-rgb: var(--color-text-light-rgb);
$color-text-tertiary-rgb: var(--color-text-tertiary-rgb);
$color-text-secondary-rgb: var(--color-text-secondary-rgb);
$color-text-primary-rgb: var(--color-text-primary-rgb);
$color-text-link-secondary-inverse: var(--color-text-link-secondary-inverse);
$color-text-link-primary-inverse: var(--color-text-link-primary-inverse);
$color-text-link-secondary: var(--color-text-link-secondary);
$color-text-link-primary: var(--color-text-link-primary);
$color-text-warning: var(--color-text-warning);
$color-text-success: var(--color-text-success);
$color-text-error: var(--color-text-error);
$color-text-disabled: var(--color-text-disabled);
$color-text-body: var(--color-text-body);
$color-text-heading: var(--color-text-heading);
$color-text-light: var(--color-text-light);
$color-text-tertiary: var(--color-text-tertiary);
$color-text-secondary: var(--color-text-secondary);
$color-text-primary: var(--color-text-primary);
$color-background-mask-rgb: var(--color-background-mask-rgb);
$color-background-mask: var(--color-background-mask);
$color-background-icon-alt-rgb: var(--color-background-icon-alt-rgb);
$color-background-icon-secondary-rgb: var(--color-background-icon-secondary-rgb);
$color-background-icon-primary-rgb: var(--color-background-icon-primary-rgb);
$color-background-warning-inverse-rgb: var(--color-background-warning-inverse-rgb);
$color-background-success-inverse-rgb: var(--color-background-success-inverse-rgb);
$color-background-danger-inverse-rgb: var(--color-background-danger-inverse-rgb);
$color-background-warning-rgb: var(--color-background-warning-rgb);
$color-background-success-rgb: var(--color-background-success-rgb);
$color-background-danger-rgb: var(--color-background-danger-rgb);
$color-background-border-rgb: var(--color-background-border-rgb);
$color-background-hover-selected-rgb: var(--color-background-hover-selected-rgb);
$color-background-selected-rgb: var(--color-background-selected-rgb);
$color-background-hover-rgb: var(--color-background-hover-rgb);
$color-background-tertiary-rgb: var(--color-background-tertiary-rgb);
$color-background-secondary-rgb: var(--color-background-secondary-rgb);
$color-background-primary-rgb: var(--color-background-primary-rgb);
$color-background-container-inverse-rgb: var(--color-background-container-inverse-rgb);
$color-background-container-alt-rgb: var(--color-background-container-alt-rgb);
$color-background-container-rgb: var(--color-background-container-rgb);
$color-background-alt-inverse-rgb: var(--color-background-alt-inverse-rgb);
$color-background-alt-rgb: var(--color-background-alt-rgb);
$color-background-default-inverse-rgb: var(--color-background-default-inverse-rgb);
$color-background-default-rgb: var(--color-background-default-rgb);
$color-background-icon-alt: var(--color-background-icon-alt);
$color-background-icon-secondary: var(--color-background-icon-secondary);
$color-background-icon-primary: var(--color-background-icon-primary);
$color-background-warning-inverse: var(--color-background-warning-inverse);
$color-background-success-inverse: var(--color-background-success-inverse);
$color-background-danger-inverse: var(--color-background-danger-inverse);
$color-background-warning: var(--color-background-warning);
$color-background-success: var(--color-background-success);
$color-background-danger: var(--color-background-danger);
$color-background-border: var(--color-background-border);
$color-background-triple-hover: var(--color-background-triple-hover);
$color-background-hover-selected: var(--color-background-hover-selected);
$color-background-selected: var(--color-background-selected);
$color-background-hover: var(--color-background-hover);
$color-background-tertiary: var(--color-background-tertiary);
$color-background-secondary: var(--color-background-secondary);
$color-background-primary-code: var(--color-background-primary-code);
$color-background-primary-light: var(--color-background-primary-light);
$color-background-primary: var(--color-background-primary);
$color-background-container-inverse: var(--color-background-container-inverse);
$color-background-container-alt: var(--color-background-container-alt);
$color-background-container: var(--color-background-container);
$color-background-alt-inverse: var(--color-background-alt-inverse);
$color-background-alt: var(--color-background-alt);
$color-background-default-inverse: var(--color-background-default-inverse);
$color-background-default: var(--color-background-default);
$shadow-border-5: 0 0 0 rem-convert(1px) $color-background-tertiary;
$shadow-border-4: 0 0 0 rem-convert(4px) rgba($color-background-primary-rgb, .12);
$shadow-border-3: 0 0 0 rem-convert(1px) rgba($color-background-primary-rgb, 1);
$shadow-border-2: 0 0 0 rem-convert(1px) rgba($color-background-tertiary-rgb, 0.08);
$shadow-border: 0 0 0 rem-convert(1px) $color-background-border;
$border-color-1: rgba($color-background-tertiary-rgb, 0.24);
